<div ng-controller="AdministrationCopiesController">
	<a class="btn modal-trigger btn-floating red btn-small pull-right" ng-click="cleanForm(); openModal('createEditCopyModal')"><i class="material-icons">add</i></a>

	<h4>Copies list</h4>
	<div class="form-group">
		<input type="text" class="form-control" ng-model="copyFilter" 
			placeholder="Filter by copy id (for returnings)">
	</div>	
	<table>
		<thead>
			<tr>
				<th>Comic</th>
				<th>Edition</th>
				<th>Number</th>
				<th>Condition</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="copy in copies|filter:{ id: copyFilter } track by copy.id">
				<td ng-bind="copy.edition.comic.title"></td>
				<td ng-bind="copy.edition.title"></td>
				<td ng-bind="copy.number.number"></td>
				<td ng-bind="copy.condition"></td>
				<td>
					<a class="btn-floating green btn-small" ng-click="edit(copy.id); openModal('createEditCopyModal');" title="Edit">
						<i class="material-icons">mode_edit</i>
					</a>
				</td>
				<td>
					<a class="btn-floating red btn-small" ng-click="remove(copy.id)" title="Delete">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div id="createEditCopyModal" class="modal">
		<div class="modal-content">
			<h4>Create / Edit</h4>

			<form class="col s12" ng-submit="save(currentCopy.id); closeModal('createEditCopyModal')">
				<div class="row">
					<div class="input-field col s12">
						<select id="comic" ng-model="currentCopy.comic" required ng-options="comic.title for comic in comics track by comic.id" class="browser-default">
						</select>
						<label for="comic" class="active">Comic</label>
					</div>
				</div>
				<div class="row" ng-show="currentCopy.comic">
					<div class="input-field col s12">
						<select id="edition" ng-model="currentCopy.edition" required ng-options="edition.title for edition in editions track by edition.id" class="browser-default">
						</select>
						<label for="edition" class="active">Edition</label>
					</div>
				</div>		
				<div class="row" ng-show="currentCopy.edition">
					<div class="input-field col s12">
						<select id="number" ng-model="currentCopy.number" required ng-options="number.number for number in numbers track by number.id" class="browser-default">
						</select>
						<label for="number" class="active">Number</label>
					</div>
				</div>				
				<div class="row">
					<div class="input-field col s12">
						<select id="condition" ng-model="currentCopy.condition" required class="browser-default">
							<option>Excellent</option>
							<option>Good</option>
							<option>Normal</option>
							<option>Bad</option>
							<option>Very Poor</option>
						</select>
						<label for="condition" class="active">Condition</label>
					</div>
				</div>				
				<div class="row">
					<div class="input-field col s12">
						<input type="checkbox" id="available" ng-model="currentCopy.available">
						<label for="available" class="active">Available</label>
					</div>
				</div>
				<div class="row" ng-if="!currentCopy.id">
					<div class="input-field col s12">
						<input type="number" max="1000" min="1" id="quantity" ng-model="currentCopy.quantity" required class="browser-default">
						<label for="quantity" class="active">Quantity</label>
					</div>
				</div>		
				<div class="row">
					<div class="input-field col s12">
						<submit content="Add" ng-if="!currentCopy.id"></submit>
						<submit content="Save" ng-if="currentCopy.id"></submit>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
		$('select').material_select();
	});
</script>