<div ng-controller="AdministrationEditionsController">
	<a class="btn modal-trigger btn-floating red btn-small pull-right" ng-click="cleanForm(); openModal('createEditEditionModal')"><i class="material-icons">add</i></a>

	<h4>Editions list</h4>
	<table>
		<thead>
			<tr>
				<th>Comic</th>
				<th>Edition No</th>
				<th>Title</th>
				<th>Year</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="edition in editions|orderBy:'comic.title' track by edition.id">
				<td ng-bind="edition.comic.title"></td>
				<td ng-bind="edition.number"></td>
				<td ng-bind="edition.title"></td>
				<td ng-bind="edition.year"></td>
				<td>
					<a class="btn-floating green btn-small" ng-click="edit(edition.id); openModal('createEditEditionModal');" title="Edit">
						<i class="material-icons">mode_edit</i>
					</a>
				</td>
				<td>
					<a class="btn-floating red btn-small" ng-click="remove(edition.id)" title="Delete">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div id="createEditEditionModal" class="modal">
		<div class="modal-content">
			<h4>Create / Edit</h4>

			<form class="col s12" ng-submit="save(edition.id); closeModal('createEditEditionModal')">
				<div class="row">
					<div class="input-field col s12">
						<input id="number" required type="number" class="validate" ng-model="edition.number"/>
						<label for="number" ng-class="{'active' : edition.id}">Number</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="title" required type="text" class="validate" ng-model="edition.title"/>
						<label for="title" ng-class="{'active' : edition.id}">Title</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select id="edition" ng-model="edition.comic" ng-options="comic.title for comic in comics track by comic.id" ng-init="form.type=editions[0].id" class="browser-default" required>
							<option selected value="">Select a comic</option>
						</select>
						<label for="edition" class="active">Comic</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="year" type="number" min="1800" max="2015" required class="validate" ng-model="edition.year" />
						<label for="year" ng-class="{'active' : edition.id}">Year</label>
					</div>
				</div>				
				<div class="row">
					<div class="input-field col s12">
						<submit content="Save"></submit>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
		$('select').material_select();
	});
</script>