<div ng-controller="AdministrationNewsController">
	<a class="btn modal-trigger btn-floating red btn-small pull-right" ng-click="cleanForm(); openModal('createEditNewModal')"><i class="material-icons">add</i></a>

	<h4>News list</h4>
	<table>
		<thead>
			<tr>
				<th>Comic</th>
				<th>Title</th>
				<th>Created On</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="new in news|orderBy:'createdOn' track by new.id">
				<td ng-bind="new.comic.title"></td>
				<td ng-bind="new.title"></td>
				<td ng-bind="new.createdOn|date:'medium'"></td>
				<td>
					<a class="btn-floating green btn-small" ng-click="edit(new.id); openModal('createEditNewModal');" title="Edit">
						<i class="material-icons">mode_edit</i>
					</a>
				</td>
				<td>
					<a class="btn-floating red btn-small" ng-click="remove(new.id)" title="Delete">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div id="createEditNewModal" class="modal">
		<div class="modal-content">
			<h4>Create / Edit</h4>

			<form class="col s12" ng-submit="save(currentNew.id); closeModal('createEditNewModal')">
				<div class="row">
					<div class="input-field col s12">
						<input id="title" required type="text" class="validate" ng-model="currentNew.title"/>
						<label for="title" ng-class="{'active' : currentNew.id}">Title</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select id="new" ng-model="currentNew.comic" ng-options="comic.title for comic in comics track by comic.id" ng-init="form.type=comics[0].id" class="browser-default" required>
							<option selected value="">Select a comic</option>
						</select>
						<label for="new" class="active">Comic</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s9">
						<input id="image" ng-model="currentNew.image" type="url" class="validate" />
						<label for="image" ng-class="{'active' : currentNew.id}">Image</label>
					</div>
					<div class="input-field col s3">
						<img ng-show="currentNew.image" ng-src="{{currentNew.image}}" style="width:100%;">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input type="url" id="video" class="validate" ng-model="currentNew.video" />
						<label for="video" ng-class="{'active' : currentNew.id}">Video</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="content" required class="validate" ng-model="currentNew.content"></textarea>
						<label for="content" ng-class="{'active' : currentNew.id}">Content</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<submit content="Save"></submit>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
		$('select').material_select();
	});
</script>