<breadcrumb ng-links='[{"url":"#!/", "title":"Home"}, {"url":false, "title": "Advanced Search" }]'></breadcrumb>
<div class="row" ng-if="isAuthenticated">
	<form class="col s12" onsubmit="return false">
		<div class="row">
			<div class="input-field col s12">
				<input type="text" class="validate" required />
				<label>Edition</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" class="validate" required />
				<label>Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" class="validate" required />
				<label>Collections</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" class="validate" required />
				<label>Loans</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" class="validate" required />
				<label>Recommended</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" class="validate" required />
				<label>Author</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<a class="waves-effect waves-light btn" href="#!/comics">Search</a>
			</div>
		</div>
	</form>
</div>