<nav class="default-primary-color breadcrumb-small">
    <div class="nav-wrapper margin-top-5">
    	<div class="col s12">
	        <a href="#!/" class="breadcrumb">Home</a>
	        <a href="#!/comics" class="breadcrumb">Comics</a>
	        <a class="breadcrumb active" ng-bind="comic.title"></a>
    	</div>
    </div>
</nav>
<div class="row">
	<img ng-src="{{comic.image}}" class="col s12 m4 margin-top-5">
	<div class="col s12 m8">
		<h4>{{comic.title}}</h4>
		<h5>By {{comic.author}}</h5>
	</div>
	<ng-include src="'app/partials/rating.html'"></ng-include>
	<div class="col s12">
		<h4>Genre</h4>
		<div class="card-panel">{{comic.genre.title}}</div>
		<h4>Year</h4>
		<div class="card-panel">{{comic.year}}</div>
		<h4>Description</h4>
		<div class="card-panel">{{comic.description}}</div>
		<h4>Comments</h4>
		<div ng-show="comments">
			<div class="card-panel" ng-repeat="comment in comments track by comment.id">
				<b ng-bind="comment.user.username"></b> says:
				<blockquote ng-bind="comment.message">
			    </blockquote>
			    <i>Published on: {{comment.createdOn}}</i>
			</div>
		</div>
		<div ng-show="!comments">
			<div class="card-panel">
		      <span class="blue-text text-darken-2">
				There isn't any comment to display.
		      </span>
		    </div>
		</div>
		<form class="card-panel" ng-submit="addComment()" ng-if="isAuthenticated">
			<h5>Send a comment</h5>
			<div class="row">
				<div class="input-field col s12">
					<textarea class="validate" ng-model="comment.message" required></textarea>
					<label>Comment</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<button type="submit" class="waves-effect waves-light btn right">
						<i class="material-icons left">send</i> send
					</button>
				</div>
			</div>
		</form>
	</div>
</div>