<div class="container">
	<div class="row">
		<div class="col m6 s12">
			<h5 class="white-text">Sitemap</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Sign In</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Disclaimer</a></li>
			</ul>
		</div>
		<div class="col m4 offset-l2 s12">
			<h5 class="white-text">Social</h5>
			<ul class="grey-text text-lighten-3">
				<li><i class="fa fa-facebook"></i> ComicSite</li>
				<li><i class="fa fa-twitter"></i> @ComicSite</li>
				<li><i class="fa fa-youtube"></i> youtube.com/ComicSite</li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		&copy; 2015 ComicSite
	</div>
</div>