<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3">
				<a class="active primary-text-color divider-color" href="#genres">Genres</a>
			</li>
			<li class="tab col s3">
				<a href="#news" class="primary-text-color divider-color">News</a>
			</li>
			<li class="tab col s3">
				<a href="#characters" class="primary-text-color divider-color">Characters</a>
			</li>
		</ul>
	</div>
	<div id="genres" class="col s12">
		<ng-include src="'app/partials/home-tab-genres.html'"></ng-include>
	</div>
	<div id="news" class="col s12"><p>News content</p></div>
	<div id="characters" class="col s12"><p>Characters content</p></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>