<nav class="default-primary-color breadcrumb-small">
    <div class="nav-wrapper margin-top-5">
    	<div class="col s12">
	        <a href="/" class="breadcrumb">Home</a>
	        <a class="breadcrumb active">Sign Up</a>
    	</div>
    </div>
</nav>
<div class="row">
	<form class="col s12" ng-submit="register()">
		<div class="row">
			<div class="input-field col s12">
				<input id="username" type="text" class="validate" ng-model="user.username" pattern="[a-z0-9]{5,10}" required title="5 to 10 alphanumeric characters" />
				<label for="username">Username</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="email" type="email" class="validate" ng-model="user.email" />
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password" type="password" class="validate" ng-model="user.password" pattern="[a-zA-Z0-9]{7,}" required title="7 alphanumeric characters minimum" />
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="cpassword" type="password" class="validate" ng-model="validation.password" pattern="[a-zA-Z0-9]{7,}" required title="7 alphanumeric characters minimum" />
				<label for="cpassword">Confirm Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="tos" type="checkbox" class="validate" ng-model="validation.agreement" />
				<label for="tos">I agree Terms of Service</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="submit" class="waves-effect waves-light btn" value="Sign Up" />
			</div>
		</div>
	</form>
</div>