<div class="slider">
	<ul class="slides">
		<li>
		<img src="public/img/advertising-one.png">
		<div class="caption center-align">
		  <h3>Star Wars VII</h3>
		  <h5 class="light grey-text text-lighten-3">New George Lucas Film!</h5>
		</div>
		</li>
		<li>
		<img src="public/img/advertising-two.jpg">
		<div class="caption left-align">
		  <h3>Avengers III</h3>
		  <h5 class="light grey-text text-lighten-3">The avengers are back!</h5>
		</div>
		</li>
	</ul>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".slider").slider({full_width: true});
		$(".slider").slider('start');
	});
</script>